# Global
**/.DS_Store
**/*.pem
**/.env*.local
**/.env
**/.turbo
**/sqlite.db

# Rusty
/target
/data/*
!/data/.gitkeep

# Svelte
**/.svelte-kit
**/build
**/package
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

# Dependencies
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
